extends layout

block content
  h1(class="page-title kn-bold") เปลี่ยนรหัส
  form(class="registration-form" action="/update/user/password" method="POST")
    div(class="form-group")
      label(class="pp-bold" for="old_password") รหัสปัจจุบัน:
      div(class="password-container")
        input(type="password" name="old_password" autocomplete="off" placeholder="current password" value=previousInput.old_password required)
        span(type="button" class="toggle-password")
    if error && error.on === 'old_password'
      p(class="error-message") #{error.message}
    div(class="form-group")
      label(class="pp-bold" for="new_password") รหัสใหม่:
      div(class="password-container")
        input(type="password" name="new_password" autocomplete="off" placeholder="new password" value=previousInput.new_password required)
        span(type="button" class="toggle-password")
      if error && error.on === 'new_password'
        p(class="error-message") #{error.message}
    div(class="form-group")
      label(class="pp-bold" for="confirmation") ยืนยันรหัสใหม่:
      div(class="password-container")
        input(type="password" name="confirmation" autocomplete="off" placeholder="confirm password" value=previousInput.confirmation required)
        span(type="button" class="toggle-password")
      if error && error.on === 'confirmation'
        p(class="error-message") #{error.message}
    div(style="margin-top: 20px;")
      button(class="form-submit kn-bold" type="submit") เปลี่ยนรหัส