extends layout 

block content
  h1(class="page-title kn-bold") สแกนรหัส
  form(action="/product/search", method="GET" class="search-form")
    div(class="search-bar")
      input(class="search-input" type="text" id="sku-id" name="sku_id" autocomplete="off" value=lastSearch || '')
      button(type="button" id="scan-icon-btn")
    div
      button(type="submit" class="search-btn pp-bold") ค้นหา

  if notFound
    p(class="not-found-text") ไม่พบสินค้า

  if data
    table(class="product-table pp-reg")
      tr(class="name-row")
        th สินค้า
        td(id="product-name")
          span #{data.name}
      tr
        th จำนวน
        td(id="product-stock") #{data.stock}

      if user && user.roles.name
        tr
          th ราคา
          td(id="product-price")
            span #{Number(data.selling_price).toFixed(2)} ฿

    div(class="update-link-container")
      a(href=`/update/${data.sku_id}`)
        button(class="update-link kn-reg") แก้ไขข้อมูล

  if user && user.roles.name === 'admin'
    a(href='/update/new/product')
      button(id="add-product-btn")
      //- form(action="/update", method="POST")
        input(type="hidden" name="id" value=data.id)
        div
          label(for="price") Update Price:
          input(type="number" name="price" step="0.01" required)
        div
          label(for="count") Update Stock Count:
          input(type="number" name="count" required)
        div
          button(type="submit") Update