extends layout

block content
  h1(class="page-title kn-bold") อัปเดตสินค้า

  table(class="product-table pp-reg")
    tr
      th รหัส
      td(class="product-id") 
        div(class="table-data-wrapper")
          span #{data.sku_id}
    tr(class="name-row")
      th อะไหล่
      td
        div(class="table-data-wrapper")
          span #{data.name}
    tr(class="model-row")
      th ชื่อรุ่น
      td(id="product-model")
        if user.role === "admin"
          form(id="edit-product-model" class="editable" action=`/update/change/${data.sku_id}` method="POST")
            input(type="hidden" name="on" value="product_model")
            input(type="text" name="new_value" autocomplete="off")
            div(class="editable-btn-container")
              button(class="cancel-editable kn-reg" type="button") ยกเลิก
              button(class="submit-editable kn-reg" type="submit") บันทึก
        div(class="table-data-wrapper")
          div(class="name-container")
            span(class="model") #{data.model}
            span(class={
              "tag kn-reg": true,
              "genuine": data.is_genuine
            }) #{data.is_genuine ? "แท้" : "เทียม" }
          if user.role === "admin"
            div(class="editable-btn-container")
              button(class="admin-edit-btn kn-reg" data-html-for="edit-product-model" data-input-value=data.model) แก้ไข
    tr
      th ที่เก็บ
      td(id="product-location")
        if user.role === "admin"
          form(id="edit-product-location" class="editable" action=`/update/change/${data.sku_id}` method="POST")
            input(type="hidden" name="on" value="product_location")
            textarea(name="new_value")
            div(class="editable-btn-container")
              button(class="cancel-editable kn-reg" type="button") ยกเลิก
              button(class="submit-editable kn-reg" type="submit") บันทึก
        div(class="table-data-wrapper")
          for location in data.location.split("\n")
            span #{location}
          if user.role === "admin"
            div(class="editable-btn-container")
              button(class="admin-edit-btn kn-reg" data-html-for="edit-product-location" data-input-value=`${data.location || ''}`) แก้ไข
    tr
      th จำนวน
      td(id="product-stock")
        div(class="table-data-wrapper")
          span #{data.stock}

    if user.role
      tr
        th ราคา
        td(id="product-price")
          if user.role === "admin"
            form(id="edit-selling-price" class="editable" action=`/update/change/${data.sku_id}` method="POST")
              input(type="hidden" name="on" value="selling_price")
              input(id="edit-price-input" type="text" name="new_value" autocomplete="off")
              div(class="editable-btn-container")
                button(class="cancel-editable kn-reg" type="button") ยกเลิก
                button(class="submit-editable kn-reg" type="submit") บันทึก
          div(class="table-data-wrapper")
            span #{data.selling_price} ฿
            if user.role === "admin"
              div(class="editable-btn-container")
                button(class="admin-edit-btn kn-reg" data-html-for="edit-selling-price" data-input-value=data.selling_price) แก้ไข

  p(class="updated-at kn-light") อัปเดตเมื่อ: #{data.updated_at}

  if !user.role
    p(class="not-permitted kn-light") คุณไม่มีสิทธิ์ในการอัปเดตข้อมูลสินค้า หากเป็นพนักงานกรุณาแจ้งเพื่อขอสิทธิ์
  else
    section(class="action-container")
      div

        if ['employee', 'manager', 'admin'].includes(user.role) && data.stock > 0
          button(id="sell-stock-btn" class="kn-bold") ขายสินค้า

        if ['manager', 'admin'].includes(user.role)
          button(id="add-stock-btn" class="kn-bold") เพิ่มสินค้า

      form(id="update-stock-form" action=`/update/stock/${data.sku_id}` method="POST")
        input(id="action-name" type="hidden" name="action" value="sell")

        table(id="result-table")
          tr
            th(class="kn-reg") จาก
            td(class="right" colspan=2) #{data.stock}
          tr
            th(class="kn-reg" id="table-header-action-name") ขาย
            td
              button(id="decrement" type="button")
            td
              input(id="update-quantity" type="text" name="quantity" value="1" inputmode="numeric")
            td
              button(id="increment" type="button")
            td(id="sell-total-price" data-selling-price=`${data.selling_price}`)
          tr
            th(class="kn-bold") คงเหลือ
            td(id="table-data-final-quantity" class="right" colspan=2) 11
        tr
        div(class="final-btn-container")
          button(class="kn-reg" type="button" id="close-form-btn") ยกเลิก
          button(class="kn-reg" type="submit" id="save-form-btn") บันทึก
